/* body */
body{
    font-family: 'Roboto', sans-serif;
}

/* skip to content */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100000;
}
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
     -webkit-text-decoration-style: solid;
}

/* mobile nav */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(0, 0, 0);
    background-color: #79b19e;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background:  #79b19e;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #fff;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #fff;
    color: #333;
  }

  #stars{
      max-height: 16px;
  }
  
  .header-links{
      display: none;
  }

/* about container */
#about{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    grid-gap:  15px;
    margin: 50px auto;
}

h1{
    grid-column: 1  / -1;
    justify-self: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.9em;
    text-transform: uppercase;
    text-decoration: 3px solid underline #79b19e;
    text-align: center;
}

.tagline{
    color: rgb(139, 139, 139);
    text-transform: lowercase;
    text-align: center;
}

#landing-img{
    /* border-radius: 50%; */
    border: 8px solid #79b19e; 
    justify-self: center;
    max-height: 300px;
}

.blurb{
    justify-self: start;
}

h2{
    text-transform: uppercase;
    text-align: center;
}

#prev{
    font-size: 1.5em;
    margin-top: 50px;
    text-decoration: 3px solid underline #79b19e;
    font-family: "Raleway", sans-serif;
}

#prev-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
    justify-content: center;
}

.prev-item{
    grid-column: 1 / span 1;
    background-color: #79b19e;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 0.8em;
    align-self: center;
}

.prev-item a{
    margin: 50px auto 25% auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#research{
    grid-column: 1 / 2;
    background-color: lightblue;
}

#tmd{
    grid-column: 2 / 3;
    background-color: lightsalmon;
}

#bbd{
    grid-column: 1 / 2;
    background-color: mediumturquoise;
}

#twitter{
    grid-column: 2 / 3;
    background-color: plum;
}

/* projects page */
#proj{
    margin: 50px auto;
}
.project-container{
    display: grid;
    grid-gap: 15px;
    max-width: 80%;
    justify-content: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 100px;
}

.description, .project-container h2{
    grid-column: 1 / -1;
}

.project-container h2{
    font-size: 1.15em;
}

/* specific projects */
#tmd-proj{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

#tmd-proj .description{
    grid-column: 1 / -1;
}

#tmd-proj img{
    grid-column: span 1;
}

#twitter-proj{
    grid-template-rows: auto auto 400px;
}

#twitter-iframe{
    width: 100%;
    height: 100%;
}

/* desktop/table view */
@media screen and (min-width: 800px){
    /* hide and reveal  header stuff */
    .topnav{
        display: none;
    }
    
    .header-links{
        display: inline;
    }

    header{
        background: #AABFB8;
        position: sticky;
        position: -webkit-sticky;
        top: 0px; 
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-end;
        padding: 10px 20px;
        color: #43434f;  
    }

    header a, header a:hover, header a:visited, h1 a{
        text-decoration: none;
        -webkit-text-decoration: none;
        color: hsl(240, 8%, 29%);
    }

    #stars{
        max-height: 30px;
    }
  }
