/* skip to content */

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100000;
}
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
     -webkit-text-decoration-style: solid;
}